.displayMoviesContainer {
    h1 {
        text-align: center;
    }

    .showMovies {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}